.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 80vh;
  align-items: center;
}

.details-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}

.details-container a {
  font-size: 28px;
  color: black;
  
}

.details-container a:hover {
  color: #79b2be;;
}

.header-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.details-container img {
  width: 30%;
  border-radius: 50%;
}

.details-container h2 {
  text-decoration: underline;
  padding: 5px;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.education {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}
