* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8d8d8d2e;
  font-family: ui-monospace;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e7e9e9;
}

header h1 {
  font-size: 40px;
  font-weight: 400;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.home-icon {
  font-size: 30px;
}

header a:hover {
  color: #79b2be;
  border-bottom: 1px solid #79b2be;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.search form {
  flex-grow: 2;
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

.search input {
  font-size: 18px;
  width: 50%;
  max-width: 500px;
  padding: 3px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
}

.btn-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.btn-actions button {
  font-size: 15px;
}

.btn-actions button:hover {
  background-color: #79b2be;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.user-card {
  background-color: #ffffff;
  box-shadow: 5px 8px #b7b9b9;
  height: 300px;
  border-radius: 12px;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-header img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.card-header span {
  font-size: 22px;
}

.card-info {
  padding: 5px;
}

.card-info h3 {
  color: #4e90e1;
}

.card-info p {
  margin-top: 7px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-card-menu {
  position: absolute;
  top: 53px;
  right: 5px;
  background-color: #f1f1f1;
  flex-direction: column;
  width: 35%;
}

.option-btn {
  border: none;
  display: flex;
  background: none;
  padding: 3px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.option-btn:hover {
  background-color: #4e90e1;
}

.newUser-page {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-user {
  height: fit-content;
  width: 600px;
}

.form-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.form-header h2 {
  flex-grow: 2;
  text-align: center;
  text-decoration: underline;
}

.new-user form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form input {
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 4px;
}

.save-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.save-btn button {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #79b2be;
  cursor: pointer;
}

.save-btn button:hover {
  background-color: #4e90e1;
  color: white;
}

/* delete modal */
.confirm-delete-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-content span {
  color: #4e90e1;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 5px;
}

.modal-actions button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.modal-actions .delete-btn {
  background-color: red;
}

.modal-actions .cancel-btn {
  background-color: green;
}

@media (max-width: 1400px) {
  .user-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .user-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .user-container {
    grid-template-columns: 1fr;
  }
}
