* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8d8d8d2e;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e7e9e9;
}

header h1 {
  font-size: 40px;
  font-style: oblique;
  font-weight: 400;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.home-icon {
  font-size: 30px;
}

header a:hover {
  color: #79b2be;
  border-bottom: 1px solid #79b2be;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.search form {
  flex-grow: 2;
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

.search input {
  font-size: 18px;
  width: 50%;
  max-width: 500px;
  padding: 3px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
}

.btn-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.btn-actions button {
  font-size: 15px;
}

.btn-actions button:hover{
  background-color: #79b2be;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.user-card {
  background-color: #ffffff;
  box-shadow: 5px 8px #b7b9b9;
  height: 300px;
  border-radius: 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-header img {
  border-radius: 50%;
}

.card-header span {
  font-size: 22px;
}

.card-info {
  padding: 5px;
}

.card-info h3 {
  color: #4e90e1;
}

.card-info p {
  margin-top: 7px;
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 1400px) {
  .user-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .user-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .user-container {
    grid-template-columns: 1fr;
  }
}
